<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Cortinas, Cortinas sob medida, Instala&#231;&#227;o de Cortinas, Cortinas em S&#227;o Paulo, Todas as regi&#245;es da grande S&#227;o Paulo. Zona Leste S&#227;o Paulo" />
	<meta name="keywords" content="Cortinas S&#227;o Paulo, Cortinas sob medida, Cortinas na Zona Leste SP" />


	<title>@(ViewBag.Title) - Sob Medida - Cortinas sob medida na Zona Leste São Paulo SP</title>

	<!-- Bootstrap Core CSS -->
	<link href="/content/lib/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="/content/lib/agency.min.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="/content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script src='https://www.google.com/recaptcha/api.js?hl=pt-BR'></script>
	@*<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-5028264-7']);
		_gaq.push(['_setDomainName', 'sobmedidacortinas.com.br']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(ga, s);
		})();

	</script>*@
	<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date(); a = s.createElement(o),
		m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
	})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-5028264-7', 'auto');
	ga('send', 'pageview');

	</script>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/" title="Sob Medida Cortinas">Sob Medida Cortinas</a>
                <a class="navbar-phone hidden-sm hidden-md hidden-lg" href="tel:11991296960" title="Telefone" data-ga="ligar"><i class="fa fa-phone"></i> ligar</a>
                <a class="navbar-phone hidden-xs hidden-md hidden-lg" href="tel:11991296960" title="Telefone" data-ga="ligar">(11) 99129.6960</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li class="hidden">
                        <a href="#page-top"></a>
                    </li>-->
                    <li>
                        <a class="page-scroll" href="#cortinas" title="Cortinas" data-ga>Cortinas</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#persianas" title="Persianas" data-ga>Persianas</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#sobre-nos" title="Sobre nós" data-ga>Sobre nós</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#ideias-para-cortinas" title="Idéias" data-ga>Idéias</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contato" title="Orçamento grátis" data-ga>Orçamento grátis</a>
                    </li>
                    <li class="hidden-sm">
                        <a class="page-scroll" href="#glossario" title="Glossário" data-ga>Glossário</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    @Html.Partial("~/views/partials/Header.cshtml")

    @RenderBody()

    @Html.Partial("~/views/partials/Footer.cshtml")

    <script src="/content/js/jquery.js"></script>
    <script src="//cdn.jsdelivr.net/lodash/4.11.1/lodash.min.js"></script>
    <script src="/content/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/content/js/classie.js"></script>
    <script src="/content/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/content/js/jqBootstrapValidation.js"></script>
    <script src="/content/js/contact_me.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/content/js/cortinas.core.js"></script>

    @RenderSection("javascript", false);

</body>

</html>